body{
    background-color: white;
}

/* CODE FOR INTRODUCTION PANEL */
.introduction_panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.introBox {
    width: 50%; 
    margin-bottom: 0; 
    box-sizing: border-box;
    text-align: center;
}
.nameBox{
    background-color: rgb(17, 16, 16);
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CODE FOR THE GENERAL DESCRIPTION AND NAME*/
.nameBox h1{
    width: 70%;
    font-size: 50px;
}
.highlight{
    color: #0088a9;
}
.nameBox p{
    width: 70%;
    font-size: 25px;
}

/* CODE FOR THE TYPING ANIMATION */
.wrapper{
    display: inline-flex;
    align-items: flex-start;
}
.wrapper .static-txt{
    color: white;
    font-size: 60px;
    font-weight: 400;
    line-height: 90px;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    text-align: left;
}
.dynamic-txts li{
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    transform: translateY(0);
    animation: slide 8s steps(4) infinite;
}
@keyframes slide{
    100%{
        transform: translateY(-360px);
    }
}
.dynamic-txts li span{
    position: relative;
    display: inline-block;
}
.dynamic-txts li span:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(17, 16, 16);
    border-left: 2px solid #FC6D6D;
    padding:0;
    animation: typing 2s steps(10) infinite;
}
@keyframes typing{
    100%{
        transform: translateX(100%);
        margin: 0 -35px 0 35px;
    }
}

.introPicBox {
    background: linear-gradient(to left, transparent 70%, black 100%), url('assets/profilePic2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 90vh;
}

@media (max-width: 768px) {
    .introBox {
        width: 100%; 
    }
    .introPicBox {
        background: linear-gradient(to top, transparent 70%, black 100%), url('assets/profilePic2.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        height: 80vh;
    }
}
@media (max-width: 580px) {
    .wrapper .static-txt{
        font-size: 40px;
    }
    .dynamic-txts li{
        font-size: 40px;
    }
}
@media (min-width: 769px) and (max-width: 1140px) {
    .wrapper .static-txt{
        font-size: 40px;
    }
    .dynamic-txts li{
        font-size: 40px;
    }
}
@media (max-width: 414px){
    .wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nameBox h1{
        font-size: 30px;
    }
    .nameBox {
        height: 100vh;
    }
}
/* CODE FOR ABOUT ME PANEL */
.about_panel{
    height: 90vh;
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
    display: flex;
}
.about_panel img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text span{
    color: #f9004d;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about_panel button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.about_panel button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media (max-width: 1083px){
    .about_panel img{
        width: 220px;
    }
    .about-text{
        width: 350px;
    }
}
@media (max-width: 672px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .about-panel img{
        width: 50%;
    }
    .about-text{
        width: 90%;
    }
}

/* CODE FOR SKILLSET PANEL */
.skillsets_panel{
    background-color: rgb(17, 16, 16);
    text-align: center;
}
.skillsets_panel h1{
    color: white;
    padding: 100px;
    font-size: 50px;
    font-family: arial;
}
.skillset_grid{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;

}
.skillItem{
    font-family: arial;
    background-color: #FC6D6D;
    border: 2px solid #f9004d;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.skillItem:hover {
    background-color: #f4bcbc;
    transform: scale(1.04);
}

.skillBox{
    width: 90%;
}

@media (max-width: 768px) {
    .skillset_grid{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
}
@media (max-width: 1403px) {
    .skillItem{
        height: 300px;
    }
}
@media (max-width: 1052px) {
    .skillItem{
        height: 350px;
    }
}
@media (min-width: 767px) and (max-width: 890px) {
    .skillItem{
        height: 450px;
    }
}
@media (max-width: 600px) {
    .skillset_grid{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
}

/* CODE FOR PROJECTS PANEL */
.projects_container{
    display: flex;
    background-color: #191919;
}
.projects_title{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects_title h1{
    font-size: 60px;
    font-family: arial;
    color: white;
}
.project_description{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project_description_insider{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.project_description_insider p{
    font-family: arial;
    font-size: 30px;
    color: black;
    padding: 20px;
}
.project_description_insider button{
    width: 80%;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #f9004d;
    padding: 20px;
    margin: 10px;
    transition: .4s;
}
.project_description button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media (max-width: 1029px) {
    .projects_container{
        text-align: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projects_title{
        margin-top: 20px;
        width: 100%;
        height: 30%;
    }
    .project_description{
        width: 100%;
        height: 70%;
    }
}
@media (max-width: 591px) {
    .project_description_insider p{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    .projects_title h1{
        font-size: 50px;
    }
}
@media (max-width: 350px) {
    .project_description_insider p{
        font-size: 15px;
    }
}
